
# CATALOG_URL is used only in SEO metadata
CATALOG_URL=http://localhost:3000

# REGISTRY_API_URL is the URL of the extensions API
REGISTRY_API_URL=http://localhost:3300

REDIS_CACHE_ENABLED=false
REDIS_URL=redis://localhost:6379
REDIS_CACHE_KEY_PREFIX=catalog:
